.agenda-card{

    display:flex;
    flex-direction:column;
    gap:15px;

}

.agenda-item{

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#F8FAFC;

    padding:15px 18px;

    border-radius:12px;

    transition:all .25s ease;

}

.agenda-item:hover{

    background:#EEF4FF;

    transform:translateX(3px);

}

.hora{

    font-weight:700;

    color:#3366FF;

}

.evento{

    color:#4B5563;

    font-weight:500;

}